<!DOCTYPE html>
<html lang="en">

<head>
    <title>Django Todo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-7">
                <h2>Todo List</h2>
                <form action="{% url 'create_todo' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th>SrNo.</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    {% if todo.completed %}
                    <span class="badge badge-sucess">completed</span>
                    {% else %}
                    <a class="btn btn-default" href="{% url 'complete_todo' todo.id %}">complete</a>
                    {% endif %}
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_todo' todo.id %}">delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

</body>

</html>